<body class="homepage">
    <div class="container-fluid">
        <p class="fa fa-home fa-fw" style="font-size: large">HomePage </p> <br>
    <button class="btn btn-info" (click)="login()">Login</button>
    <button class="btn btn-danger" (click)="Register()">Register</button>     
</div>
    
    <i class="fa fa-check"></i>
    <span class="fa fa-camera-retro"></span>
    <div><i class="fa fa-home fa-fw"></i> Home</div> 
    <div><i class="fa fa-info fa-fw"></i> Info</div>
    <div><i class="fa fa-book fa-fw"></i> Library</div>
    <div><i class="fa fa-cog fa-fw" ></i> Settings</div>
    <i class="fa fa-envelope" ><sup style="color:rgba(183, 207, 192, 0.842); background-color: red">1256</sup></i>
    <div class="fa-3x">
            <i class="fa fa-spinner fa-spin"></i>
            <i class="fa fa-circle-notch fa-spin"></i>
            <i class="fa fa-sync fa-spin"></i>
            <i class="fa fa-cog fa-spin"></i>
            <i class="fa fa-spinner fa-pulse"></i>
            <i class="fa fa-book"></i>
    </div>     
<br>   
</body>