<div class="container">
    <form (ngSubmit)="login()">

      <div class="form group">
          <label for="username">Username</label>
          <input type="text" name="username"  style="width: 200px;" class="form-control" [(ngModel)]="user.username">
      </div>
      <div class="form group">
          <label for="password">Password</label>
          <input type="password" name="password"  style="width: 200px;" class="form-control" [(ngModel)]="user.password">
      </div>
      <input type="submit" value="save" class="btn btn-success">
    </form>

  </div>
