<body>
    <h4> Welcome {{user.username}}</h4>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <th>Store Name</th>
                <th>View Store</th>
            </thead>
            <tbody>
                <tr *ngFor="let store of stores"> 
                  <td ng-value="store">{{store.name}}</td>
                  <td><button class="btn btn-info"  (click)="View(store)">View</button></td>
                </tr>
            </tbody>
          </table>

        </div>
</body>
