<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>Calculator Application</title>
</head>
<body>
<form action = "/admin/add">
    serialno<br/>
    <input type  = "number" name = "productID" /><br/>
    modelName<br/>
    <input type  = "text" name = "model" /><br/>
    price<br/>
    <input type  = "number" name = "price" /><br/>
    brandName<br/>
    <input type  = "text" name = "brand" /><br/>

    <input type  = "submit" value = "Submit" /><br/>
</form>

</body>
</html>