<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>Calculator Application</title>
</head>
<body>
<form action = "/storeowner/addNewProduct" method="post">
    modelName<br/>
    <input type  = "text" name = "model" /><br/>
    price<br/>
    <input type  = "number" name = "price" /><br/>
    store <br/>
    <input type="text" name="store"><br/>
    brandName<br/>
    <input type  = "text" name = "brand" /><br/>
    <br/>
    <input type  = "submit" value = "Submit" /><br/>
</form>

</body>
</html>