<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login as Admin</title>
</head>

<body>
<form action = "/admin/adminLogin" method=POST>
    Username:<br/>
    <input type  = "text" name = "Username" /><br/>
    Password:<br/>
    <input type  = "password" name = "password" /><br/>
    <input type  = "submit" value = "Submit" /><br/>
</form>

<a href="/normal/register">Register as normal customer</a>
<a href="/normal">Login as a normal user</a>
<a href="/storeowner/storeOwnerLogin">Login as Store Owner</a>



</body>

</html>