<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text = "${name}"/>
</head>
<body>
<div>
    <table border="1">
        <tr>
            <th>Name</th>
            <th th:text = "${product.model}"/>
        </tr>
        <tr>
            <th>Price</th>
            <th th:text = "${price}"/>
        </tr>
        <tr>
            <th>ID</th>
            <th th:text = "${id}"/>
        </tr>
        <tr>
            <th>Brand</th>
            <th th:text = "${brand}"/>
        </tr>
        <tr>
            <th>Store</th>
            <th th:text = "${store}"/>
        </tr>
        <tr>
            <th>Views</th>
            <th th:text = "${views}"/>
        </tr>
        <tr>
            <th>Solded</th>
            <th th:text = "${sold}"/>
        </tr>
    </table>
</div>
</body>
</html>