<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text = "${name}"/>
</head>
<body>
<div>
    <form action="/" method="post">
        <div>
            <input type="submit" value = "Home">
        </div>
    </form>

</div>
<div>
    <table border="1">
        <tr>
            <th>Name</th>
            <th th:text = "${product.model.getName()}"/>
        </tr>
        <tr>
            <th>Price</th>
            <th th:text = "${product.getPrice()}"/>
        </tr>
        <tr>
            <th>quantity</th>
            <th th:text = "${quantity}"/>
        </tr>
        <tr>
            <th>Brand</th>
            <th th:text = "${product.brand.getName()}"/>
        </tr>
        <tr>
            <th>Store</th>
            <th th:text = "${product.store.getName()}"/>
        </tr>
        <tr>
            <th>Views</th>
            <th th:text = "${views}"/>
        </tr>
        <tr>
            <th>Solded</th>
            <th th:text = "${sold}"/>
        </tr>
    </table>
</div>
<div>
    <form action="/cart/addtocart" method="post">
        <div>
            <input type = "text" name = "modelname" th:value = "${product.model.getName()}" hidden>
            <input type = "text" name = "storename" th:value = "${product.store.getName()}" hidden>
            <input type = "text" name = "quantity" >
            <input type="submit" value="Add to cart">
        </div>
    </form>

</div>
</body>
</html>