<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Login</title>-->
<!--</head>-->
<!--<body>-->
<!--<form action = "/storeowner/storeOwnerLogin" method=POST>-->
    <!--Username:<br/>-->
    <!--<input type  = "text" name = "Username" /><br/>-->
    <!--Password:<br/>-->
    <!--<input type  = "password" name = "password" /><br/>-->
    <!--<input type  = "submit" value = "Submit" /><br/>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/heroic-features.css" rel="stylesheet">

    <title>Login as StoreOwner</title>
</head>

<body>
<nav th:class="'navbar navbar-expand-lg navbar-dark bg-dark fixed-top'">
    <div th:class="container">
        <a th:class="navbar-brand" href="/">Store owner</a>
        <button th:class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="'Toggle navigation'">
            <span th:class="navbar-toggler-icon"></span>
        </button>
        <div th:class="'collapse navbar-collapse'" id="navbarResponsive">
            <ul th:class="'navbar-nav ml-auto'">
                <li th:class="'nav-item active'">
                    <a th:class="nav-link" href="/">Home<span th:class="sr-only">(current)</span></a>
                </li>
                <li th:class="'nav-item active'">
                    <a th:class="nav-link" href="/normal/register">Register as normal customer</a>
                </li>
                <li th:class="nav-item">
                    <a th:class="nav-link" href="/normal/login">Login as normal user</a>
                </li>
                <li th:class="nav-item">
                    <a th:class="nav-link" href="/admin/adminLogin">Login as Admin</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div th:class="container">
    <div th:class="'jumbotron my-4'">
        <h1 th:class="display-3">Login</h1>
        <form action = "/storeowner/storeOwnerLogin" method=POST>
            Username:<br/>
            <input type  = "text" name = "Username" /><br/>
            Password:<br/>
            <input type  = "password" name = "password" /><br/>
            <input type  = "submit" value = "Submit" /><br/>
        </form>
    </div>
</div>

<!--<br/><br/>-->
<!--<a href="/normal/register">Register as normal customer</a><br/>-->
<!--<a href="/storeowner/storeOwnerLogin">Login as Store Owner</a><br/>-->
<!--<a href="/admin/adminLogin">Login as Admin</a><br/>-->


</body>
</html>