<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text = "${sname}"></title>
</head>
<body>
    <div th:if = "${found} == 0">
        <h1>This user doesn't have any stores</h1>
    </div>
    <table th:if = "${found} == 1" border="1">
        <tr>
            <th>Store name</th>
        </tr>
        <tr th:each = "row : ${rows}">
            <td th:text = "${row.name}"/>
        </tr>
    </table>
    <a href="/storeowner/addStore">Add Store</a>
</body>
</html>