<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1"></meta>
    <title>Calculator Application</title>
</head>
<body>
<form action = "/storeowner/register" method = "post">
    Name: <br/>
    <input type  = "text" name = "Name" /><br/>
    Email:<br/>
    <input type  = "text" name = "Email" /><br/>
    Username:<br/>
    <input type  = "text" name = "Username" /><br/>
    Password:<br/>
    <input type  = "text" name = "password" /><br/>
    <input type  = "submit" value = "Submit" /><br/>
</form>

</body>
</html>