<body>
    <h4> Welcome {{user.username}}  >> you are in {{store.name}}</h4>
    <br>
    <button class="btn btn-success"  (click)="AddCollaborator()"><i class="fa fa-plus"></i> Add Collaborator</button>
    <button class="btn btn-warning"  (click)="ViewCollaborator()"><i class="fa fa-book"></i> View Collaborators</button>
    <button class="btn btn-danger"  (click)="ViewHistory()"><i class="fa fa-book"></i> View History</button>
    <button class="btn btn-info"  (click)="AddStat()"><i class="fa fa-plus"></i> Add Statistics</button>
    <button class="btn btn-default"  (click)="ViewStat()"><i class="fa fa-book"></i> View Statistics</button>
    
    <br>
    <br>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <th>Product Name</th>
                <th>Price</th>
                <th>No of items</th>
                <th>Edit Product</th>
                <th>Delete Product</th>
            </thead>
            <tbody>
                <tr *ngFor="let product of products"> 
                  <td>{{product.name}}</td>
                  <td>{{product.price}}</td>
                  <td>{{product.no_of_items}}</td>
                  <td><button class="btn btn-warning" (click)="EditProduct(product.id)"><i class="fa fa-pencil"></i> Edit</button></td>
                  <td><button class="btn btn-danger"  (click)="DeleteProduct(product.id)"><i class="fa fa-remove"></i> Delete</button></td>
                </tr>
            </tbody>
           </table>
          <button class="btn btn-info" (click)="AddProduct()">Add Product</button>
        </div>
</body>
